*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 20px Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  /* font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center; */
}
a {
  text-decoration: none;
  color: #000000;
}
ul{
  list-style: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #0F3376;
  /* padding: 2 2rem; */
}

.logo
{
  margin-left: 0.3em;
  margin-bottom: 0.08em;
  font-size: 5em;
  color: aliceblue;
  /* padding-left: %; */
}

.fa-book{
  font-size: 1.5em;
}

.logo-text{
  font-size: 0.6em;
}

.menubar{
  width: 45%;
  margin-right: 8%;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu-item{
  color: black;
  font-family: sans-serif;
  margin: 1% 2%;
  font-size: 0.9em;
  transition: 0.4s;
}

.list-item a:hover{
  color: #000000;
}

.cart{
  padding-right: 2em;
  position: relative;
}

.cart .cart-items{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #f1ebeb;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #ff8000;
  border-radius: 50%;
  width: 20px;
  border-radius: 7px;
}

.cart-items .noi{
  font-size: 1.5em;
  cursor: pointer;
}

.burger{
  height: 28px;
  width: 32px;
  display: none;
}

.layer1, .layer2, .layer3{
  background-color: #0c0000;
  height: 5%;
  margin-top: 5%;
  width: 100%;
  border-radius: 10px;
}

.section1{
  height: calc(100vh - 10vh);
  width: 100%;
  background-color:#a9b8ca;  /* url(img/background.png); */
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
}

.section1 .banner{
  height: 100px;
  width: 300px;
  background-color: #0f33765b;
  border-radius: 25px;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -80%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  z-index: 8;
}

.banner h1{
  color: #fff;
  font-size: 5em;
  margin-bottom: 0.5em;
}

.banner a{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding: 1em 2.5em;
  color: #007710;
  background-color: #092981;
  border-radius: 15px;
  transition: all 0.3s;
}

.banner a:hover{
  background: #051a52;
}


/* menubar */

.menubar{
  display: none;
}

.cart-sidbar{
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  width: 450px;
  height: 100vh;
  transition: all 0.5s linear;
  overflow: scroll;
}

.cart-sidbar .cart{
  padding: 0;
}

.cart .close-cart{
  font-size: 1.3em;
  padding: 1em;
  cursor: pointer;
}

.fa-times{
  margin-top: 0.5em;
}

.cart h2{
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-family: sans-serif;
}

.cart-products{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  height: 80px;
}

.plus-minus{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin: 0.5em 0;
} 

.overlay{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: #ff8000;
  opacity: 0.3;
  transition: all 0.3s linear;
}

.none{
  display: none;
}
